# SPDX-FileCopyrightText: 2026 KIM Hyunjae
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Prune the Freedesktop thumbnail cache daily
Documentation=man:xdg-thumbnail-prune(1)

[Timer]
Unit=xdg-thumbnail-prune.service
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
